html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property="og:type", content="website")
        meta(property="og:site_name", content="No 'Nutella' November challenge Tracker")
        meta(property="og:image:alt", content="nut")
        meta(property="og:url", content="/project/anti-nutella-challenge/")
        meta(property="og:title", content="the best website you'll ever use")
        meta(property="og:description", content="use this to track the current progress of the NNN challenge i guess")
        meta(property="twitter:card", content="summary_large_image")
        meta(property="theme-color", content="#ffffff")
        meta(property="og:image", content="/project/anti-nutella-challenge/images/nutella.jpg")

        title No "Nutella" November challenge Tracker

        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="./style/style.css")
        script(src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js" defer)
        script(src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js" defer)
        script(src="./script/script.js" defer)

    body.dark_mode
        mixin progressbar(id, text_id)
            .progress_bar.challenge_started(id=id)
                .text=text_id
                .indicator

        mixin error_screen(id, title, icon="./images/error.svg")
            .full_screen_error(id=id, data-hidden="true")
                .centered_content
                    .error_icon: img(src=icon, alt="Error icon")
                    .error_title: h1=title
                    .error_content
                        if block
                            block
                        else
                            p No error detail

        +error_screen("clock_not_correct_error", "Error!", "./images/clock.svg")
            p We've detected that the clock on the user's device is not correct from the actual time in your timezone. Please re-adjust your clock or re-adjust the timezone on your device!

        header
            h1 No "Nutella" November Tracker

        main
            p An NNN tracker to track how long until challenge start and end.
            p (WARNING: The tracker has been remade with a better UI, see #[a(href="https://sudoker0.xyz/project.nnn-tracker/") https://sudoker0.xyz/project.nnn-tracker/])
            p (Note: Timezone and current time are pulled from the user's browser, so those might not match the info on the user's device)
            hr

            div.display_time
                p: b
                    span.reverse Status:
                    span.green.challenge_started  Challenge has started!
                    span.red.challenge_not_started  Challenge haven't started yet!

                p: b
                    span.reverse Client timezone:
                    span  $_timezone

                p.challenge_started: b
                    span.reverse Time elapsed:
                p.challenge_started $_elapsed

                p: b
                    span.reverse Time left:
                span.note.challenge_started (before challenge end)
                span.note.challenge_not_started (before challenge start)
                p.challenge_started $_time_left
                p.challenge_not_started $_time_left_before_begin

                p.challenge_started: b
                    span.reverse Progress:
                +progressbar("time_left_pb", "$_time_left_percentage")

            hr

            p To toggle between Dark/Light mode, run this command in the console of the Developer Tools: `document.body.classList.toggle("dark_mode")`
        footer
            p Administered to the public by The Ministry of Random Thought for Behavior Control, Health Improving and Something Something.
            p Copyright (C) 2023 sudoker0, licensed under the MIT license.
